In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['absolute_error'],
           'max_features':['sqrt','log2'],
           'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['absolute_error'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [9]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.06563063, 0.05296292, 0.0656312 , 0.05000267]), 'std_fit_time': array([0.01169564, 0.00614093, 0.01530844, 0.01169439]), 'mean_score_time': array([0.00937614, 0.00260758, 0.00937581, 0.01250424]), 'std_score_time': array([0.00765559, 0.00521517, 0.00765532, 0.00625212]), 'param_criterion': masked_array(data=['absolute_error', 'absolute_error', 'absolute_error',
                   'absolute_error'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_splitter': masked_array(data=['best', 'random', 'best', 'random'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'best'}, {'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'random'}, {'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'best'}, {'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'random'}], 'split0_test_score': array([0.73673929, 0.76456643, 0.56089847, 0.61605023]), 'split1_test_score': array([0.62606799, 0.37250023, 0.57473693, 0.60702183]), 'split2_test_score': array([0.67698736, 0.64838356, 0.66242286, 0.70147637]), 'split3_test_score': array([0.73989288, 0.69622498, 0.74895965, 0.63961592]), 'split4_test_score': array([0.73832819, 0.73322955, 0.7291141 , 0.54489219]), 'mean_test_score': array([0.70360314, 0.64298095, 0.6552264 , 0.62181131]), 'std_test_score': array([0.0454772 , 0.14067819, 0.0770369 , 0.05065964]), 'rank_test_score': array([1, 3, 2, 4])}

In [10]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065631,0.011696,0.009376,0.007656,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.736739,0.626068,0.676987,0.739893,0.738328,0.703603,0.045477,1
1,0.052963,0.006141,0.002608,0.005215,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.764566,0.372500,0.648384,0.696225,0.733230,0.642981,0.140678,3
2,0.065631,0.015308,0.009376,0.007655,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.560898,0.574737,0.662423,0.748960,0.729114,0.655226,0.077037,2
3,0.050003,0.011694,0.012504,0.006252,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.616050,0.607022,0.701476,0.639616,0.544892,0.621811,0.050660,4

In [11]:
grid.best_params_

{'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'best'}

In [12]:
result=grid.predict([[40,28.5,2,1,0]])
result

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([6600.361])