In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

param_grid={'criterion':['squared_error'],
           'max_features':['sqrt','log2'],
           'n_estimators':[50,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:909: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [8]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.58208599, 1.05905032, 0.43497524, 0.7495996 ]), 'std_fit_time': array([0.02951694, 0.04158523, 0.05347272, 0.04030765]), 'mean_score_time': array([0.03289285, 0.0593801 , 0.02149744, 0.04688082]), 'std_score_time': array([0.02015472, 0.03336798, 0.00721655, 0.03125222]), 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                   'squared_error'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2'],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[50, 100, 50, 100],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 50}, {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100}, {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 50}, {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}], 'split0_test_score': array([0.85321388, 0.85649208, 0.85283534, 0.85897217]), 'split1_test_score': array([0.77305848, 0.77688512, 0.77594615, 0.77754658]), 'split2_test_score': array([0.85797901, 0.8619996 , 0.86724097, 0.85938205]), 'split3_test_score': array([0.82623075, 0.82895595, 0.82675307, 0.82897485]), 'split4_test_score': array([0.83726898, 0.8376706 , 0.83909751, 0.8396802 ]), 'mean_test_score': array([0.82955022, 0.83240067, 0.83237461, 0.83291117]), 'std_test_score': array([0.03043051, 0.03025924, 0.03128985, 0.03002144]), 'rank_test_score': array([4, 2, 3, 1])}

In [9]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.582086,0.029517,0.032893,0.020155,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.853214,0.773058,0.857979,0.826231,0.837269,0.829550,0.030431,4
1,1.059050,0.041585,0.059380,0.033368,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.856492,0.776885,0.862000,0.828956,0.837671,0.832401,0.030259,2
2,0.434975,0.053473,0.021497,0.007217,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.852835,0.775946,0.867241,0.826753,0.839098,0.832375,0.031290,3
3,0.749600,0.040308,0.046881,0.031252,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.858972,0.777547,0.859382,0.828975,0.839680,0.832911,0.030021,1

In [10]:
grid.best_params_

{'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100}

In [11]:
result=grid.predict([[40,28.5,2,1,0]])
result

C:\Anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([6825.2764238])